import java.util.Scanner;

public class proje1 {
    public static void main(String[] args) {
       int n,k;

        Scanner neu=new Scanner(System.in);

        System.out.print("TABAN SAYISI:");
        n=neu.nextInt();
        System.out.print("US SAYISI:");
        k=neu.nextInt();
        int total=1;

        for (int i=1;i<=k;i++){
            total*=n;
        }
        System.out.print("SONUC:"+ total);



    }
}
